@using ChemiClean.StorageService
@model Product
@{
    ViewBag.Title = "ProductByName";
}

<article class="row justify-content-center mt-5">
    <div class="col-lg-10">
        <h1>@Model.Name</h1>
        <h3>@Model.Supplier</h3>
        @{
            if (@Model.IsUpdated)
            {
                <span class="badge badge-pill badge-warning">Updated Recently</span>
            }
            if (@Model.IsUrlBroken && @Model.LastBackup != "")
            {
                <span class="badge badge-pill badge-warning">Viewing a backup version</span>

            }
            else if (!@Model.IsUrlBroken && @Model.LastBackup != "")
            {
                <p class="card-text">Last Backup: @Model.LastBackup</p>
            }
        }
        <hr />
        @{
            if (@Model.IsUrlBroken && @Model.LastBackup == "")
            {
                <div class="alert alert-danger" role="alert">
                    Url isBroken and No Local Backup!
                </div>
            }
            else
            {
                <h3>Safety Data Sheet</h3>
                <hr />
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="@Model.Url"></iframe>
                </div>
            }
        }
    </div>
</article>